/*----------------------------------*/
/*BASIC SETUP*/
/*----------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*----------------------------------*/
/*REUSABLE COMPONETNS*/
/*----------------------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}

/*-----HEADINGS-----*/
h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%; /*240% of 20px in html global font size*/
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

/*-----BUTTONS-----*/
.btn:link, /*link element in normal state*/
.btn:visited /*link element when visited*/
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; /*remove underline*/
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s; /*styles changed in 0.2s when hover*/
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22; /*use Flat UI color website*/
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active{
    background-color: #cf6d17; /*use 0to255.com to find darker color*/
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff;
}

/*----------------------------------*/
/*HEADER*/
/*----------------------------------*/
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg); /*make the pic darker*/
    background-size: cover; /*to see the whole picture*/
    background-position: center;
    height: 100vh; /*vh: veiw port*/
}

.hero-text-box{  /*make the text box center in the picture*/
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
